html,
body {
    background-color: #DDD0C8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-inline: 20px;
}

input,
select,
button {
    background-color: transparent;
    font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

nav {
    margin-block: 30px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 10%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px;
    background-color: #323232;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px rgba(138, 133, 138, 1);
}

a:hover {
    color: greenyellow;
    background-color: black;
}

li.user-info {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 50%;
}

div#div_flash {
    font-weight: bold;
    margin-block: 20px;
    padding-block: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

div.error#div_flash {
    background-color: red;
}

div.success#div_flash {
    background-color: lightgreen;
}

div.info#div_flash {
    background-color: grey;
}

div.form {
    display: flex;
    align-items: flex-end;
    padding-block: 10px;
    font-size: 1.2rem;
}

button {
    margin-inline: 10px;
    height: 35px;
    width: 35px;
}

input#dateto {
    margin-right: 20px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-block: 0;
}

table {
    margin-top: 40px;
    width: 95%;
    text-align: center;
    border: 1px solid grey;
}

th {
    background-color: #f0a87c;
    height: 50px;
    font-size: 1.3rem;
}

tr:nth-child(even) {
    background-color: #ece6e2;
}

tr:hover {
    background-color: salmon;
}