html,
body {
    background-color: #DDD0C8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}

input,
select,
button {
    background-color: transparent;
    font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

nav {
    margin-block: 30px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 10%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px;
    background-color: #323232;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px rgba(138, 133, 138, 1);

}

a:hover {
    color: yellow;
    background-color: black;
}

div#div_flash {
    font-weight: bold;
    margin-block: 20px;
    padding-block: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

div.error#div_flash {
    background-color: red;
}

div.success#div_flash {
    background-color: lightgreen;
}

div.main-buttons {
    margin-top: 100px;
    margin-bottom: 50px;
}

button {
    margin-inline: 20px;
    height: 60px;
    width: 60px;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(138, 133, 138, 1);
}

i {
    scale: 2;
}

button.yes {
    background-color: green;
}

button.no {
    background-color: firebrick;
}

button:hover {
    color: black;
}

form {
    width: 520px;
    border: 2px solid grey;
    padding: 10px;
}

form div {
    margin-bottom: 20px;
    position: relative;
}

form div label {
    font-weight: bold;
}

form div input,
form div select {
    position: absolute;
    left: 200px;
}

form div input {
    width: 300px;
}

form div select {
    width: 305px;
}

div.comments {
    margin-top: 90px;
    margin-bottom: 5px;
}