html,
body {
    background-color: #5CDB95;
}

body>*,
::placeholder {
    text-align: center;
}

h1 {
    margin-block: 100px;
}

div#div_flash {
    font-weight: bold;
    margin-block: 20px;
    padding-block: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

div.error#div_flash {
    background-color: red;
}

div.success#div_flash {
    background-color: lightgreen;
}

div.info#div_flash {
    background-color: grey;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input,
button#form {
    display: block;
    margin-inline: auto;
    font-size: 1.2rem;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

h3 {
    margin-top: 100px;
    margin-bottom: 10px;
}