<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/icons8-star-filled-color-16.png">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>Manifest TV - events tracker</title>
</head>
<body>
    <div>
        <img onclick="location.href='{{ url_for('events.main') }}';" src="https://picsum.photos/800/800?grayscale">
    </div>
    <footer>
        &copy; Mazur Volodymyr, 2023
    </footer>
</body>
</html>